*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #3d3d3d;
}

nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    width: 100px;
    border: 1px solid black;
    height: 50px;
    flex-grow: 1;
    text-align: center;
    line-height: 50px;
}
nav ul li:hover {
    background-color: gold;
    color: black
}
nav ul li:hover a {
    color: black
}
nav ul li a{
    display: block;
}
a,p
{
    text-decoration: none;
    color: white
}

main {
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    background-color: #4f4f4f;
    padding: 15px;
    border-radius: 10px;
}

main textarea,
main input,
main select {
    max-width: 100%;
    min-width: 100%;
    border-radius: 5px;
    border: 0px;
    padding: 3px;
    margin-bottom: 10px;
    margin-top: 5px;
}
main #addProduct {
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 3px;
    border-radius: 5px;
}